.right-section2 img{
    width:576px;
}
.right-data img{
    width: 510px;
}
/* .section5{
    height: 3100px;
} */
.left-section6{
    width: 550px;
    height: 625px;
}
.right-section6{
    width: 550px;
    height: 625px;
}
/* img[src="./Images/cap16.png"]{
    margin-top: 68px;
} */
/* img[src="./Images/cap15.png"]{
    margin-top: 60px;
} */
/* img[src="./Images/cap20.png" ]{
width: 600px;
} */
.two-right{
    margin-right: 40px;
}
img[src="./Images/cap21.png"]{
    width: 550px;
}
/* img[src="./Images/cap24.png"]{
    margin-left: 277px;
    margin-top: 40px;
    width: 470px;
} */
/* .one-left{
    width: 518px;
} */
/* img[src="./Images/cap27.png"]{
    width: 455px;
    margin-left: 28px;
} */
/* 
img[src="./Images/cap28.png"]{
    width: 482px;
} */